body {
    padding-top: 40px;
    margin: auto;
    width: 50%;
}

#header {
    font-family: "Courier New";
    font-size: 90px;
    text-align: center;
    font-weight: bold;
    background-color: teal;
    width: 100%;
    border-radius: 25px;
}

.card {
    background-color: #f8f8ff;
    box-shadow: 0 0 7px rgba(0,0,0,0.50);
    width: 400px;
    height: 450px;
    padding: 20px;
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-200px);
    margin-top: 30px;
    margin-bottom: 30px;
}

.card_title {
    font-family: "Courier New";
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.image {
    border-radius: 50%;
    border: 5px solid lightgrey;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 30%;
    width: 30%;
}

.desricption {
    font-family: "Courier New";
    font-size: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    font-family:  "Courier New";
    display:block;
    text-align:center
}

a:link {
    color: grey;
}
  
a:visited {
    color: lightskyblue;
}
  
a:hover {
    color: rgb(76, 115, 139);
}
  
a:active {
    color:lightskyblue;
}